body {
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-color: rgb(241, 242, 243)!important;   
}

#header {
    margin: 1rem auto;
    font-family: 'Advent Pro', sans-serif;
    color: white;
    font-size: 1.6rem;
}

.top-links {
    margin: 0 2rem;
    text-decoration: none!important;
    color: white;
}

.top-links:hover {
    color: white;
}

#name {
    font-family: 'Advent Pro', sans-serif;
    color: white;
    font-size: 3.5rem;
    margin: 15px auto 0px auto;
    width: fit-content;
}

#name:after {
    border-bottom: solid;
    border-width: 5px;
    border-color: white;
    content: '';
    display: block;
    margin-left: 25%;
    width: 50%;
}

#about-me-section {
    margin: 25px auto 85px auto;
    display: grid;
    padding: 25px;
}

#about-me {
    color: rgb(31, 31, 31);
    font-size: 16px;
    width: fit-content;
    margin: auto;
}

#aboutMe:after {
    border-bottom: solid;
    border-width: 1px;
    border-color: rgb(31, 31, 31);
    content: '';
    display: block;
    margin-left: 25%;
    width: 50%;
}

#me {
    border-radius: 5%;
    margin: auto;
    padding: none!important;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.text {
    color: rgb(31, 31, 31);
    width: fit-content;
    font-family: 'Muli', sans-serif;
}

.title {
    font-family: 'Advent Pro', sans-serif;
    color: rgb(31, 31, 31);
    font-size: 3.5rem;
    margin: 0rem auto;
    width: fit-content;
}

.title:after {
    border-bottom: solid;
    border-width: 2px;
    border-color: rgb(31, 31, 31);
    content: '';
    display: block;
    margin-left: 25%;
    width: 50%;
}

#github1,
#linkedin1,
#email {
    font-size: 75px;
    margin: 45px 20px;
    color: rgb(31, 31, 31);
}

#github,
#linkedin {
    font-size: 60px;
    margin: 0px 25px 0px 0px;
    color: rgb(31, 31, 31);
}

#github:hover,
#linkedin:hover {
    cursor: pointer;
}

.icons {
    margin: auto;
    width: fit-content;
}

.icons1 {
    width: fit-content;
}

#skills-container {
    display: grid;
    margin: 0px auto 50px auto;
    width: fit-content;
    grid-column-gap: 90px;
    font-family: 'Muli', sans-serif;
}

.skill-icons {
    /* display: inline; */
    height: 40px;
    margin-right: 13px;
}

.grid-title {
    font-size: 20px;
    font-weight: bold;
    margin: 45px 0px 20px 0px;
    color: rgb(31, 31, 31);
    text-align: center;
}

.grid-item {
    color: rgb(31, 31, 31);
    font-size: 18px;
}

#skills-column1 {
    grid-column-start: 1;
    grid-column-end: 2;
}

#skills-column2 {
    grid-column-start: 2;
    grid-column-end: 3;
}

#skills-column3 {
    grid-column-start: 3;
    grid-column-end: 4;
}

#skills-column4 {
    grid-column-start: 4;
    grid-column-end: 5;
}

#portfolio-container {
    display: flex;
    margin: 2rem auto 5rem auto;
}

.port-img {
    width: 360px;
    margin: 4px;
    cursor: pointer;
}

.modal {
    font-family: 'Muli', sans-serif;
}

.modal-title {
    font-weight: bold;
    line-height: 1!important;
}

.modal-img {
    height: 200px;
    margin: 10px auto;
}

.btn-primary {
    background-color: rgb(144, 159, 228)!important;
    border-color: rgb(144, 159, 228)!important;
}

.btn-primary:hover {
    background-color: rgb(125, 139, 202)!important;
    border-color: rgb(125, 139, 202)!important; 
}

.technologies {
    margin-bottom: 0px!important;
}

#contact-section {
    margin-bottom: 4rem;
}

footer {
    height: 12px;
    background-color: rgb(31, 31, 31);
}

#scrollTopBtn {
    color: rgb(144, 159, 228);
    font-size: 3rem;    
}

#back2Top {
    position: fixed;
    bottom: 15px;
    right: 15px;
}

/* Hover CSS Animations */

/* Underline From Center */
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: white;
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
  }

/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    z-index: 9;
  }